    <div class="trending"> 
        <div class="row">
        <div class="column">
            <div class="movie zoom">
                <img src="https://images-na.ssl-images-amazon.com/images/I/91WNnQZdybL._AC_SL1500_.jpg" alt="Image">
                <h1>name</h1>
                <h2>name</h2>
            </div>
        </div>
        <div class="column">
            <div class="movie zoom">
                <img src="https://images-na.ssl-images-amazon.com/images/I/91WNnQZdybL._AC_SL1500_.jpg" alt="Image">
                <h1>name</h1>
                <h2>name</h2>
            </div>
        </div>
        <div class="column">
            <div class="movie zoom">
                <img src="https://images-na.ssl-images-amazon.com/images/I/91WNnQZdybL._AC_SL1500_.jpg" alt="Image">
                <h1>name</h1>
                <h2>name</h2>
            </div>
        </div>
        <div class="column">
            <div class="movie zoom">
                <img src="https://images-na.ssl-images-amazon.com/images/I/91WNnQZdybL._AC_SL1500_.jpg" alt="Image">
                <h1>name</h1>
                <h2>name</h2>
            </div>
        </div>
        <div class="column">
            <div class="movie zoom">
                <img src="https://images-na.ssl-images-amazon.com/images/I/91WNnQZdybL._AC_SL1500_.jpg" alt="Image">
                <h1>name</h1>
                <h2>name</h2>
            </div>
        </div>
        <div class="column">
            <div class="movie zoom">
                <img src="https://images-na.ssl-images-amazon.com/images/I/91WNnQZdybL._AC_SL1500_.jpg" alt="Image">
                <h1>name</h1>
                <h2>name</h2>
            </div>
        </div>
        </div>
    </div>