
    <div class="footer">
        <div class="container">
        
        <div class="top-left">the movie box</div>
        <div class="bottom-left">Designed by Railescu Perla</div>
        <div class="top-right">
          <a href="/about">About</a>
          <a href="/movies">Movies</a>
          <a href="/ratings">Ratings</a>
          <a href="/contact">Contact</a>
        </div>
        </div>
    </div>