 <div class="header">
        <div class="container">
        <img src="https://www.enlivant.com/~/media/images/blog/blogpost_movies_header_1155x357.ashx">
        <div class="bottom-left">Watch movies now!</div>
        <div class="top-left">the movie box</div>
        <div class="top-right">
          <a href="/#">Log in</a>
          <a <%= link_to "Sign up", signup_path %></a>
        </div>
        </div>
</div>