<div>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <div class="navbar">
        
        <div class="add-movie" id="myMovie">
           <a href="/add"><i class="fa fa-plus" aria-hidden="true"></i></a>
        </div>
        <ul class="nav navbar-nav navbar-left">
        <li><%= link_to "Trending", root_path %></li>
        <li><%= link_to "Top Rated", topRated_path %></li>
        <li><%= link_to "New Arrivals", newArrivals_path %></li>
      </ul>
        <div class="search-container">
            <form action="/action_page.php">
                <input type="text" placeholder="Search..." name="search">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
        <div class="dropdown">
        <button class="dropbtn" onclick="myFunction()">Genre
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content" id="myDropdown">
            <a href="/drama">Drama</a>
            <a href="/action">Action</a>
            <a href="/adventure">Adventure</a>
            <a href="/comedy">Comedy</a>
            <a href="/thriller">Thriller</a>
        </div>
      </div> 
    </div>
  </div>